<% @projects.each do |project| %>
      <div class="panel">
        <p>Name:  <%= project.name %></p>
        <p>Tagline: <%= project.tagline %></p>
        <p>Description: <%= project.description %></p>
        <a href="" class="button small radius">Apply</a>
    
</div>
<% end %>
      
    